body {
    background-color: white;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.ant-col {
    width: 100%;
}

.content-vh, .content-full{
    padding: 50px 20px 75px 20px;
}

/* lg */
@media (min-width: 768px) {
    body {
        background-color: #f9fafb;
    }

    .ant-col {
        width: 320px;
    }

    .menu-lg {
        display: flex;
        justify-content: center;
    }

    .content-vh {
        padding-top: 0;
        padding-bottom: 0;
        height: 87vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-full {
        width: 80%;
        margin: 0 auto;
    }
}